@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 60 100% 97%;
    --foreground: 20 14% 4%;
    --card: 36 67% 94%;
    --card-foreground: 20 14% 4%;
    --popover: 60 100% 97%;
    --popover-foreground: 20 14% 4%;
    --primary: 18 55% 45%;
    --primary-foreground: 60 100% 97%;
    --secondary: 36 67% 94%;
    --secondary-foreground: 18 55% 45%;
    --muted: 60 50% 93%;
    --muted-foreground: 20 14% 35%;
    --accent: 36 67% 94%;
    --accent-foreground: 18 55% 45%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 20% 88%;
    --input: 60 20% 88%;
    --ring: 18 55% 45%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 20 14% 4%;
    --foreground: 60 100% 97%;
    --card: 20 14% 6%;
    --card-foreground: 60 100% 97%;
    --popover: 20 14% 4%;
    --popover-foreground: 60 100% 97%;
    --primary: 18 55% 55%;
    --primary-foreground: 60 100% 97%;
    --secondary: 36 50% 10%;
    --secondary-foreground: 36 67% 94%;
    --muted: 20 14% 10%;
    --muted-foreground: 60 100% 90%;
    --accent: 36 50% 10%;
    --accent-foreground: 36 67% 94%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 14% 15%;
    --input: 20 14% 15%;
    --ring: 18 55% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
